$font-style: Roboto,sans-serif;
.coins-pages-main{
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  .coins-pages-image{
    position: relative;
    max-height: 450px;
    transform-style: preserve-3d;
    transition: transform 1s;
    perspective:1000px;
    img{
      max-width: 450px;
      max-height: 450px;
    }
    .front, .reverse{
      backface-visibility:hidden;
    }
    .reverse{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 99;
      display: none;
    }
  }
  .coins-pages-image:hover .front{
    transform:rotateY(0deg);
  }
  .coins-pages-image:hover .reverse{
    display: inline;
    transform: rotateY(360deg);
  }
  .coins-pages-text{
    padding: 12px 44px 12px 47px;
    background: rgba(196, 196, 196, 0.5);
    margin-top: 24px;
    h1{
      font-family: $font-style;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      padding-bottom: 24px;
    }
    h3{
      font-family: $font-style;
      font-weight: bold;
      font-size: 15px;
      line-height: 33px;
      padding-bottom: 24px;
      span{
        font-weight: normal;
        font-size: 13px;
        color: gray;
        display: inline-block;
        padding-right: 5px;
      }
    }
    p{
      width: 75%;
      font-family: $font-style;
      font-weight:500;
      font-size: 16px;
      line-height: 18px;
      padding-bottom:30px;
    }
    h2{
      font-family: $font-style;
      font-weight: bold;
      font-size: 32px;
      line-height: 33px;
      padding-bottom: 24px;
      span{
        font-weight: normal;
        font-size: 16px;
        color: gray;
        display: inline-block;
        padding-right: 5px;
      }
    }
  }
  table{
    border-collapse: collapse;
    tr{
      td, th{
        font-family: $font-style;
        font-weight: 300;
        font-size: 13px;
        line-height: 105.2%;
        padding: 10px;
      }
      th{
        text-align: left;
        border-right: 1px solid #B1ABAB;
      }
    }
    tr:nth-child(odd){
      background: #ffffff;
      border-top: 1px solid #B1ABAB;
      border-bottom: 1px solid #B1ABAB;
    }
    tr:nth-child(1){
      border-top: none;
    }
  }
  a{
    display: block;
    padding-top: 50px;
    color: #833AE0;
    font-family: $font-style;
    font-weight: 600;
    font-size: 13px;
    line-height: 105.2%;
  }
}
@media (min-width: 768px) and (max-width: 1050px) {
  .coins-pages-main{
    display: flex;
    .coins-pages-image{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      img{
        object-fit: cover;
      }
    }
    .coins-pages-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}