.coins-pages-main
    .coins-pages-image
        img(src="../App/img/flip_linkoln.png" alt="Франклин Д’ Рузвельт" class="front")
        img(src="../App/img/reverse_linkoln.png" alt="Франклин Д’ Рузвельт" class="reverse")
    .coins-pages-text
        h1 Франклин Д’ Рузвельт
        h3
            span Артикул:
            | 7635202
        p Фиалка - символ пробуждения природы.
        p На монете изображена фиалка, выполненная в цвете, c использованием техники перегородчатой эмали, по верхнему канту надпись: FROWERS OF THE WORLD, THE PANSY. В нижней части надпись — год чеканки 2009. Монета укомплектована подарочным демонстрационным футляром.
        h2
            span Цена:
            | 3 680  ₽
        table
            tr
                th Год
                td 2009
            tr
                th Номинал на монете, ед. нац. валюты
                td 5 Новозеландский доллар
            tr
                th Страна-эмитент
                td Острова Кука
            tr
                th Качество чеканки
                td PR
            tr
                th Металл
                td Серебро 925 проба
            tr
                th Масса хим. драгоценного металла в монете, гр
                td 25 г.
        a(href="index.html") Назад к списку