.coins-pages-main
    .coins-pages-image
        img(src="../App/img/flip_klen.png" alt="Кленовый лист" class="front")
        img(src="../App/img/reverse_klen.png" alt="Кленовый лист" class="reverse")
    .coins-pages-text
        h1 Кленовый лист
        h3
            span Артикул:
            | 146885-972
        p В центре реверса находится рельефное изображение бутона крокуса исполненное методом тампопечати. Вверху надпись: CROCUS — латинское название вида цветка. В нижней части надпись — год чеканки 2013.
        p Крокус, или шафран, символизирует надежду и возрождение, ведь его цветение приходится на период, когда земля еще покрыта снегом. Монета укомплектована подарочным демонстрационным футляром.
        h2
            span Цена:
            | 2 430  ₽
        table
            tr
                th Год
                td 2003
            tr
                th Номинал на монете, ед. нац. валюты
                td 10 Белорусских рублей
            tr
                th Страна-эмитент
                td Республика Беларусь
            tr
                th Качество чеканки
                td PR
            tr
                th Металл
                td Серебро 925 проба
            tr
                th Масса хим. драгоценного металла в монете, гр
                td 14,14 г.
        a(href="/App") Назад к списку