.container-coins
    .header-coins
        h1 Монеты из драгоценных металлов
    .main-coins
        .coins-pattern
            .coins-img
                img(src="../App/img/flip_linkoln.png")
                .discount
                    p -10%
            .coins-pattern-text
                a(href="lincoln.html") Авраам Линкольн
                p Лаосская Народно-Демократическая
                    br
                    | Республика, 2017
                p Номинал — 50000 Кипов
                p Вес — 6 г.
                p Серебро, 925 проба
                p Диаметр — 22.60 мм
            .coins-pattern-price
                h3 4 410 ₽
                span 4 900 ₽
        .coins-pattern
            .coins-img
                img(src="../App/img/flip_bobr .png")
                .discount
                    p -20%
            .coins-pattern-text
                a(href="bobr.html") Канадский бобр
                p Лаосская Народно-Демократическая
                    br
                    | Республика, 2013
                p Номинал — 50000 Кипов
                p Вес — 6 г.
                p Серебро, 925 проба
                p Диаметр — 22.60 мм
            .coins-pattern-price
                h3 2 000 ₽
                span 2 500 ₽
        .coins-pattern
            .coins-img
                img(src="../App/img/flip_kenedy.png")
                .discount
                    p -10%
            .coins-pattern-text
                a(href="kennady.html") Джон Кеннеди
                p Республика Беларусь, 2013
                p Номинал — 10 Белорусских рублей
                p Вес — 14,14 г.
                p Серебро, 925 проба
                p Диаметр — 32 мм
            .coins-pattern-price
                h3 2 430  ₽
                span 2 700  ₽
        .coins-pattern
            .coins-img
                img(src="../App/img/flip_klen.png")
                .discount
                    p -20%
            .coins-pattern-text
                a(href="list.html") Кленовый лист
                p Россия, 2012
                p Номинал — 3 рубля
                p Вес — 31,1 г.
                p Серебро, 925 проба
                p Диаметр — 39 мм
            .coins-pattern-price
                h3 2 320  ₽
                span 2 900 ₽
        .coins-pattern
            .coins-img
                img(src="../App/img/flip_jefferson.png")
                .discount
                    p -20%
            .coins-pattern-text
                a(href="thomas.html") Томас Джефферсон
                p Республика Беларусь, 2013
                p Номинал — 10 Белорусских рублей
                p Вес — 14,14 г.
                p Серебро, 925 проба
                p Диаметр — 32 мм
            .coins-pattern-price
                h3 2 080 ₽
                span 2 600  ₽
        .coins-pattern
            .coins-img
                img(src="../App/img/flip_gagara.png")
                .discount
                    p -10%
            .coins-pattern-text

                a(href="gagara.html") Черноклювая гагара
                p Республика Палау, 2009
                p Номинал — 5 Доллар США
                p Вес — 25 г.
                p Серебро, 925 проба
                p Диаметр — 38,61 мм
            .coins-pattern-price
                h3 2 790 ₽
                span 3 100  ₽
        .coins-pattern
            .coins-img
                img(src="../App/img/flip_ruz.png")
                .discount
                    p -20%
            .coins-pattern-text

                a(href="franklin.html") Франклин Д’ Рузвельт
                p Острова Кука, 2009
                p Номинал — 5 Новозеландский доллар
                p Вес — 25 г.
                p Серебро, 925 проба
                p Диаметр — 38,61 мм
            .coins-pattern-price
                h3 3 680  ₽
                span 4 600  ₽
        .coins-pattern
            .coins-img
                img(src="../App/img/flip_los.png")
                .discount
                    p -20%
            .coins-pattern-text
                a(href="moose.html") Канадский лось
                p Острова Кука, 2013
                p Номинал — 5 Новозеландский доллар
                p Вес — 25 г.
                p Серебро, 925 проба
                p Диаметр — 38,61 мм
            .coins-pattern-price
                h3 5 120  ₽
                span 6 400  ₽