.coins-pages-main
    .coins-pages-image
        img(src="../App/img/flip_jefferson.png" alt="Томас Джефферсон" class="front")
        img(src="../App/img/reverse_jefferson.png" alt="Томас Джефферсон" class="reverse")
    .coins-pages-text
        h1 Томас Джефферсон
        h3
            span Артикул:
            | 5638 - 38734
        p Ландыши — символ чистоты, любви и грусти. Карл Линней, создавая знаменитую классификацию, не устоял перед обаянием цветка и дал ему весьма поэтичное название «Convallaria majalis», которое означает «лилия долин, которая цветет в мае».
        p В центре реверса находится изображения цветка ландыша исполненное методом тампопечати. Вверху надпись: CONVALLARIA — латинское название вида цветка. В нижней части надпись — год чеканки 2013. Монета укомплектована подарочным демонстрационным футляром.
        h2
            span Цена:
            | 2 080  ₽
        table
            tr
                th Год
                td 2013
            tr
                th Номинал на монете, ед. нац. валюты
                td 10 Белорусских рублей
            tr
                th Страна-эмитент
                td Республика Беларусь
            tr
                th Качество чеканки
                td PR
            tr
                th Металл
                td Серебро 925 проба
            tr
                th Масса хим. драгоценного металла в монете, гр
                td 14,14 г.
        a(href="/App") Назад к списку